__pycache__/
*.pyc
db/
release/
dist/
*.zip
release.local.json
projects/AnthologyLauncher/
safe_backups/

/publish_anthology_gui.cmd
/publish_anthology_update.cmd
projects/anthology-game-files/
projects/anthology-mt-engine/
